# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node build/deps
node_modules
.pnpm-store/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Database
data/
*.db
*.db-shm
*.db-wal
/public/images/uploads/

# Environment
.env
.env.*
!.env.example

# MD Related
.aiignore
.aiassistant
.claude
.junie
internal_docs
CLAUDE.md
AGENTS.md