# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node build/deps
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Database
data/
*.db
*.db-shm
*.db-wal

# Environment
.env
.env.*
!.env.example

# AI and MD Related
.aiignore
.aiassistant
.claude
.junie
internal_docs
internal_docs/INTERNAL.md
internal_docs/TODO.md
AGENTS.md
JOURNAL.md
internal_docs/Final Project Info.pdf